.card {
  max-width: 250px;
  border: 1px solid palevioletred;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(135, 135, 135, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}
.card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card-title {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  color: rgb(147, 93, 198);
}
.card-text {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(85, 31, 118);
}

/* .button {
  background-color: palevioletred;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

.student {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding: 10px;
  border: 1px solid rgb(85, 31, 118);

}
.student p {
  margin: 0;
  color: rgb(147, 93, 198);
}

.welcome-message {
  font-size: 2em;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  padding: 10px;
}
.list-category {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(102, 102, 211);
}
.list-items ul {
  text-align: center;
}
.list-items li {
  font-size: 18px;
  color: rgb(147, 93, 198);
  text-align: center;
  margin: 0;
}
.list-items li:hover {
  color: rgb(85, 31, 118);
  cursor: pointer;
}